#Banner {
    background-color:palegreen;
    text-align:center;
}
.rowHeader{
	background-color:#E857EE;
}
/* The slider */
#pendingTable{
	visibility:hidden
}
#acceptedTable{
	visibility:hidden
}
#request_submitted{
	visibility:hidden
}
