<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeHomepage</display-name>
    <servlet-name>EmployeeHomepage</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.EmployeeHomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomepage</servlet-name>
    <url-pattern>/EmployeeHomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitNewRequest</display-name>
    <servlet-name>SubmitNewRequest</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.SubmitNewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitNewRequest</servlet-name>
    <url-pattern>/SubmitNewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckedLoggedIn</display-name>
    <servlet-name>CheckedLoggedIn</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.CheckedLoggedIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckedLoggedIn</servlet-name>
    <url-pattern>/CheckedLoggedIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutUser</display-name>
    <servlet-name>LogOutUser</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.LogOutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutUser</servlet-name>
    <url-pattern>/LogOutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerHomepage</display-name>
    <servlet-name>ManagerHomepage</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.ManagerHomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomepage</servlet-name>
    <url-pattern>/ManagerHomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeeEmployees</display-name>
    <servlet-name>SeeEmployees</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.SeeEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeEmployees</servlet-name>
    <url-pattern>/SeeEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pull_Image</display-name>
    <servlet-name>Pull_Image</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.Pull_Image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pull_Image</servlet-name>
    <url-pattern>/Pull_Image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveRejectRequest</display-name>
    <servlet-name>ApproveRejectRequest</servlet-name>
    <servlet-class>com.revature.project_1.Servlets.ApproveRejectRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRejectRequest</servlet-name>
    <url-pattern>/ApproveRejectRequest</url-pattern>
  </servlet-mapping>
</web-app>